@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AdobeJenson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-LtIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Semibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-SemiboldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SPQR';
    src: url('fonts/spq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'agbengalyc';
    src: url('fonts/agbengalyc.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'B52';
    src: url('fonts/B52.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TwCenMTStd';
    src: url('fonts/TwCenMTStd.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialElite';
    src: url('fonts/SpecialElite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Platypi';
    src: url('fonts/Platypi-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #010101;
}

.prescript-main {
	text-align: center;
    font-family: 'TwCenMTStd', sans-serif;
	font-size: 28px;
	margin-bottom: 20px; 
}

.prescript-Creasy {
    width: 85%;
    text-align: right;
    margin: 0 auto;
    font-family: 'TwCenMTStd', sans-serif;
	color: #FFFFFF;
	font-size: 28px;
    padding-bottom: 10px;
}

.table, .table-header {
    border-collapse: collapse;
    width: 85%;
	margin: 0 auto;
}

.table-header td {
	border: 2px solid;
	font-family: 'AdobeJenson', sans-serif;
	font-weight: bold;
    font-style: normal;
	color: #E6B259;
	border-color: #F19F11;
    border: 3px solid;
}

.english {
    font-family: 'AdobeJenson', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.russian {
	font-family: 'agbengalyc', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.table td, .table-header td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table td {
    border: 2px solid;
	font-size: 26px;
}

.table-header td {
	font-size: 24px;
}

.first-column, .first-column-header {
    width: 30%;
}

.second-column, .second-column-header {
    width: 15%;
}

.third-column, .third-column-header  {
    width: 30%;
}

.fourth-column, .fourth-column-header {
    width: 10%;
}

.fifth-column, .fifth-column-header {
    width: 15%;
}

.fourth-column, .fifth-column {
	font-family: 'agbengalyc', sans-serif;
}

.quote0 td {
    border-color: #CC0000;
}

.quote0 tr:first-child td {
    border-top: none; /* Убираем верхнюю границу у первой строки */
}

.quote0 tr:last-child td {
    border-bottom: none; /* Убираем нижнюю границу у последней строки */
}

.quote-text {
	font-size: 30px;
	font-family: 'b52', sans-serif;
	background-color: #f3f3f3;
	display: inline;
	border-radius: 4px;
}

.table1 td {
    border-color: #CC0000;
	color: #CCE0F1; 
}

.table1 td a {
    color: #CCE0F1;
    text-decoration: none;
}

.table1 td a:hover {
    color: #1CE0F1;
    text-decoration: underline;
}

.table2 td {
	color: #D91919;
    border-color: #CEE2F3;
}

.table2 td a {
    color: #D91919;
    text-decoration: none;
}

.table2 td a:hover {
    color: #1CE0F1;
    text-decoration: underline;
}

.table3 td {
    color: #FF9900;
    border-color: #4986E8;
}

.table3 td a {
    color: #FF9900;
    text-decoration: none;
}

.table3 td a:hover {
    color: #FF9900;
    text-decoration: underline;
}
