@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AdobeJenson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Semibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'agbengalyc';
    src: url('fonts/agbengalyc.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'B52';
    src: url('fonts/B52.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TwCenMTStd';
    src: url('fonts/TwCenMTStd.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialElite';
    src: url('fonts/SpecialElite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Platypi';
    src: url('fonts/Platypi-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreCursor';
    src: url('fonts/TeXGyreCursor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreCursor';
    src: url('fonts/TeXGyreCursor-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NocturneSerif';
    src: url('fonts/NocturneSerif.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RomanGridCaps';
    src: url('fonts/RomanGridCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bakemono';
    src: url('fonts/Bakemono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlackBeard';
    src: url('fonts/BlackBeard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TypewriterSpool';
    src: url('fonts/TypewriterSpoolRUFRg-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #010101;
}

.prescript-main {
	text-align: center;
    font-family: 'TwCenMTStd', sans-serif;
	font-size: 28px;
	margin-bottom: 20px; 
}

.prescript-roman {
	font-family: 'RomanGridCaps';
}

.prescript-Creasy {
    width: 85%;
    text-align: right;
    margin: 0 auto;
    font-family: 'TwCenMTStd', sans-serif;
	color: #FFFFFF;
	font-size: 28px;
    padding-bottom: 10px;
}

.table, .table-header {
	table-layout: fixed;
	word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    border-collapse: collapse;
    width: 85%;
	margin: 0 auto;
}

.table-header td {
	border: 2px solid;
	font-family: 'AdobeJenson', sans-serif;
	font-weight: bold;
    font-style: normal;
	color: #E6B259;
	border-color: #F19F11;
    border: 3px solid;
}

.table td {
    border: 2px solid;
	font-size: 28px;
}

.table-header td {
	font-size: 24px;
}

.second-column img {
    width: 75%;
    height: auto;
}

.english {
    /*font-family: 'NocturneSerif', sans-serif;*/
	font-family: 'TypewriterSpool', sans-serif;
	font-size: 32px !important;
    font-weight: normal;
    font-style: normal;
}

.russian {
	/*font-family: 'agbengalyc', sans-serif;
	font-size: 25px !important;*/
	font-family: 'TypewriterSpool', sans-serif;
	font-size: 32px !important;
    font-weight: normal;
    font-style: normal;
}

.table td, .table-header td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.tooltip {
    font-family: 'agbengalyc', sans-serif;
    display: none; 
    position: absolute; 
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #FF0000; 
    padding: 10px; 
    z-index: 10; 
    min-width: 250px;
    max-width: 350px; 
    color: #000000; 
    border-radius: 15px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.table-group {
    margin-bottom: 40px; /* отступ между блоками */
}

.first-column {
    /*font-family: 'NocturneSerif';
    font-weight: bold;
    font-style: normal;*/
	font-family: 'Bakemono';
    font-weight: normal;
    font-style: normal;
}

.first-column, .first-column-header {
    width: 32%;
}

.second-column, .second-column-header {
    width: 11%;
}

.third-column, .third-column-header  {
    width: 32%;
}

.fourth-column, .fourth-column-header {
    width: 10%;
}

.fifth-column, .fifth-column-header {
    width: 15%;
}

.fourth-column, .fifth-column {
	font-family: 'TwCenMTStd', sans-serif;
}

.quote-text {
	font-size: 30px;
	font-family: 'b52', sans-serif;
	background-color: #f3f3f3;
	display: inline;
}

.quote1 td {
    border-color: #CEE2F3;
	border-width: 3px;
}

.quote1 tr:first-child td {
	border-bottom: none;
}

.quote1 tr:last-child td {
    border-top: none;
    border-bottom: none;
}

.table1 td {
    border-color: #2A3B57;
	color: #CCE0F1; 
}

.table1 td a {
    color: #CCE0F1;
    text-decoration: none;
}

.table1 td a:hover {
    color: #1CE0F1;
    text-decoration: underline;
}

/*.table1 tr:last-child td {
    border-bottom: none;
}*/

.quote2 td {
    border-color: #CEE2F3;
	border-width: 3px;
}

.quote2 tr:first-child td {
	border-bottom: none;
}

.quote2 tr:last-child td {
    border-top: none;
	border-bottom: none;
}

.table2 td {
	color: #D91919;
    border-color: #CEE2F3;
}

.table2 td a {
    color: #D91919;
    text-decoration: none;
}

.table2 td a:hover {
    color: #1CE0F1;
    text-decoration: underline;
}

.table2 tr:first-child td {
    border-top: none;
}

.quote3 td {
    border-color: #CEE2F3;
	border-width: 3px;
}

.quote3 tr:first-child td {
	border-bottom: none;
}

.quote3 tr:last-child td {
    border-top: none;
	border-bottom: none;
}

.table3 td {
	color: #E6E6FA;
    border-color: #B87333;
}

.table3 td a {
    color: #E6E6FA;
    text-decoration: none;
}

.table3 td a:hover {
    color: #FF9900;
    text-decoration: underline;
}

.table3 tr:first-child td {
    border-top: none;
}

.quote4 td {
    border-color: #CEE2F3;
	border-width: 3px;
}

.quote4 tr:first-child td {
	border-bottom: none;
}

.quote4 tr:last-child td {
    border-top: none;
	border-bottom: none;
}

.table4 td {
    color: #B87333;
    border-color: #3A3A3A;
}

.table4 td a {
    color: #B87333;
    text-decoration: none;
}

.table4 td a:hover {
    color: #1B4D3E;
    text-decoration: underline;
}

.table4 tr:first-child td {
    border-top: none;
}

.quote5 td {
    border-color: #CEE2F3;
	border-width: 3px;
}

.quote5 tr:first-child td {
	border-bottom: none;
}

.quote5 tr:last-child td {
    border-top: none;
	border-bottom: none;
}