@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AdobeJenson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-LtIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-Semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeJenson';
    src: url('fonts/AJensonPro-SemiboldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SPQR';
    src: url('fonts/spq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BaskervilleCyrL';
    src: url('fonts/BaskervilleCyrL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.table, .table-header {
    border-collapse: collapse;
    width: 100%;
	margin: 0;
}

.table-header td {
	border: 2px solid;
    font-family: 'SPQR', sans-serif;
}

.table td, .table-header td {
    border: 2px solid;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table td {
	font-size: 18px;
}

.table-header td {
	font-size: 26px;
}

.english (
    font-family: 'AdobeJenson', sans-serif;
    font-weight: bold;
    font-style: normal;
)

.russian (
	font-family: 'BaskervilleCyrL', sans-serif;
    font-weight: normal;
    font-style: normal;
)

.first-column, .first-column-header {
    width: 30%;
}

.second-column, .second-column-header {
    width: 20%;
}

.third-column {
    width: 30%;
}

.third-column-header {
    width: 30%;
}

.fourth-column, .fourth-column-header {
    width: 10%;
}

.fifth-column, .fifth-column-header {
    width: 10%;
}

.table1 td {
    border-color: #CC0000;
}

.table2 td {
    border-color: #CEE2F3;
}

.table3 td {
    border-color: #4986E8;
}
